__pycache__
.pytest_cache
.vscode
CMakeLists.txt.user
/extras
tmp
tests/testdata/dev_ops
venv
*.py[cod]
*$py.class
.Python
parts/
sdist/
dist/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
__pypackages__/
runtime/build