# This file must contain only pinned versions of dependencies

# Python testing (matches ubuntu 24.04 packages)
pytest==7.4.4
pytest-xdist==3.4.0

# Connection to huggingface
huggingface_hub==1.3.2

# Used for apps
streamlit==1.45.1

# force tensorflow that is compatible with IREE version we use
# (iree has a >= dependency which is picking up 2.19.0 which is not compatible)
tensorflow==2.18.1

# we depend on this specific version of keras at the moment
keras==3.12.0

# onnx
onnx==1.19.1
onnxruntime==1.23.2
onnxscript==0.5.6

# Used for image_to_tensor.py utility tools
opencv-python-headless==4.12.0.88

# for diff-tensors.py
matplotlib==3.10.5

# for gantt_plotly.py
plotly==6.3.0

# for annotate_profiling.py
xlsxwriter==3.2.5

# for documentation
# versions are based on latest https://github.com/syna-astra-dev/synaptics-sphinx-theme/blob/main/Dockerfile
# which uses a base image built with https://github.com/sphinx-doc/sphinx-docker-images/blob/7.4.7/base/Dockerfile

# base image packages
Sphinx==7.4.7
pillow==10.4.0

# head of synaptics theme
https://github.com/syna-astra-dev/synaptics-sphinx-theme/archive/refs/heads/main.zip

# this is to automatically rebuild upon edit the documentation
sphinx-autobuild==2025.8.25

# these are from third_party/iree/runtime/bindings/python/iree/runtime/build_requirements.txt
pip>=21.3
setuptools>=62.4.0
nanobind==2.0
numpy>=2.0.0b1
requests>=2.28.0
wheel>=0.36.2
sympy==1.12.1
pybind11>=2.10.1
PyYAML>=5.4.1

# these are from third_party/iree/integrations/tensorflow/test/requirements.txt
tensorflow==2.18.1
keras>=2.7.0
Pillow>=9.2.0

# these are from python/torq/requirements.txt
packaging>=24.2